body{
    background-color: rgba(0, 0, 0, 0.5);
}
.container{
    max-width: 800px;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(4, 100px);
    grid-template-columns: repeat(4, 1fr);
}
.caixa1{
    background-color: palevioletred;
    padding: 45px;
    text-align: center;
    grid-row: 1 / 2;
    grid-column: 1 / 5;
}
.caixa2{
    background-color: darkkhaki;
    padding: 90px;
    text-align: center;

    grid-row: 2 / -2 ;
    grid-column: 1 / -3;
}
.caixa3{
    background-color: darkseagreen;
    padding: 90px;
    text-align: center;

    grid-row: 2 / span 2;
    grid-column: 3 / span 2;
}
.caixa4{
    background-color: plum;
    padding: 45px;
    text-align: center;

    grid-area: -2 / 1 / -1 / -1;
/*  grid-area: row-start / column-start / row-end / column-end; */
}