.container{
    max-width: 800px;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
}
.caixa1{
    background-color: palevioletred;
    padding: 45px;
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
}
.caixa2{
    background-color: darkkhaki;
    padding: 90px;
    text-align: center;

    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: -3;
}
.caixa3{
    background-color: darkseagreen;
    padding: 90px;
    text-align: center;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: -3;
    grid-column-end: -1;
}